{% extends "base.html" %}


{% block content %}

<br>
<a href="{% url 'video-create' %}" class="btn btn-primary" role="button">비디오 생성</a>
<br><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <!--<th scope="col" class="text-center">비디오 1</th>-->
      <!--<th scope="col" class="text-center">비디오 2</th>-->
      <!--<th scope="col" class="text-center">비디오 3</th>-->
      <th colspan="4" scope="col" class="text-center">
          총 비디오 {{all_count}}
      </th>
    </tr>
  </thead>
  <tbody>

    {% for object in object_list %}

            <tr>
              <!--{{object.embed_code|safe}} <br>-->
                <td><a href="{% url 'video-detail' object.id %}">{{object.title}}</a></td>
                <td>{{object.timestamp|date:"Y-m-d (H:i:s)[f:s]" }}</td>
                <td><a href="{% url 'video-update' object.id %}" class="btn btn-primary" role="button">Update</a></td>
                <td><a href="{% url 'video-delete' object.id %}" class="btn btn-danger" role="button">Delete</a></td>
            </tr>

    {% endfor %}
  </tbody>
</table>

{% block footer %}

    <div class="container">
        <div class="row left">
            <div class="col-4" style="background-color:black;" id="footer-menu">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#services">선수</a></li>
                            <li><a href="#work">팀</a></li>
                            <li><a href="#team">게시글</a></li>
                            <li><a href="#testimonials">뉴스</a></li>
                            <li><a href="#pricing">게임</a></li>
                        </ul>
            </div>
            <div class="col-8">
                <div class="row">
                      <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#services">선수</a></li>
                            <li><a href="#work">팀</a></li>
                            <li><a href="#team">게시글</a></li>
                            <li><a href="#testimonials">뉴스</a></li>
                            <li><a href="#pricing">게임</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



 {% include 'defaults/scripts.html' %}